* {
    padding: 0;
    margin: 0;
}
body {
    background-color: #21202A;
    color: white;
}

.mustache {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    position: absolute;
    color: white;
    box-shadow:
                -90px 500px 0 0 currentColor,
                60px 500px 0 0 currentColor;
}

.mustache::before {
    content: "";
    position: absolute;
    left: -210px;
    top: 380px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 0 100%;
    transform: rotate( -40deg );
    transform-origin: right 210px;
}

.mustache::after {
    content: "";
    position: absolute;
    left: 150px;
    top: 380px;
    width: 210px;
    height: 120px;
    border-bottom: solid 180px currentColor;
    border-radius: 0 0 100% 0;
    transform: rotate( 40deg );
    transform-origin: left 210px;
}

.mustache:before {
    animation: animLeft 1s ease-in-out infinite;
}
.mustache:after {
    animation: animRight 1s ease-in-out infinite;
}

@keyframes animLeft {
    0% {
        transform: rotate( -50deg );
    }

    50% {
        transform: rotate( -30deg );
    }

    100% {
        transform: rotate( -50deg );
    }
}

@keyframes animRight {
    0% {
        transform: rotate( 50deg );
    }

    50% {
        transform: rotate( 30deg );
    }

    100% {
        transform: rotate( 50deg );
    }
}

header {
    text-align: center;
}

header h1 {
    font-size: 50px;
    margin-top: 40px; 
}

header h2 {
    font-size: 30px;
    margin-top: 20px; 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.eyes {
    width: 140px;
    height: 210px;
    border-radius: 50%;
    position: absolute;
    color: white;
    box-shadow:
                -90px 230px 0 0 currentColor,
                60px 230px 0 0 currentColor;
}

